
.front-page-meny-pizza{
    background-image: url("/images/menu_pizza.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    height: 250px;
}
.front-page-meny-chicken{
    background-image: url("/images/menu_chicken.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    height: 250px;
}
.front-page-meny-drinks{
    background-image: url("/images/menu_drinks.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    height: 250px;
}

.menu-drop-down {
    padding: 5px;
}

.menu-drop-down > li{
    padding: 20px;
    color: black;
}

.menu-drop-down > li:hover {
    background-color:#007bff;
    cursor: pointer;
}

.menu-drop-down > li > a {
    text-decoration: none;
    color: black;
}

.online-order-pickup{
    background-image: url("/images/pickup.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    height: 250px;
}

.online-order-delivery{
    background-image: url("/images/delivery.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    height: 250px;
}
